@import url(./base.css);

body {    
    background:#17191C;
    } 

a {
    color: inherit;
}

.header {
    height: 100px;
    position: relative;
    text-align: center;
    padding-top: 26px;
    margin-bottom: 50px;
}

.logo {
    width: 168px;
    display: inline-block;
    margin-right: 220px;
    vertical-align: middle;
}

.logo__img {
    width: 100%;
}

.menu {
    display: inline-block;
    margin: 0 auto;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
}

.menu__link {
    font-size: 16px;
}

.menu__link:hover {
    color: #8F00FF;
}

.contacts {
    display: inline-block;
    margin-left: 195px;
    font-size: 26px;
    position: relative;
}

.contacts__info {
    font-size: 13px;
    margin-left: auto;
    width: 100px;
    text-decoration-line: underline;
    right: 0;
    position: absolute;
}

.hello {
    margin-bottom: 193px;
}
.hello__title {
    width: 637px;
    font-size: 60px;
    margin-bottom: 21px;
}

.hello__text {  
    font-size: 21px;
    margin-bottom: 76px;
}

.offers__item {
    color: black;
    background-color: white;
    display: inline-block;
    width: 360px;
    margin-right: 25px;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__content {
    padding: 22px;
}

.offers__img {
    height: 144px;
    width: 100%;
}

.offers__feature {
    display: inline-block;
    margin-right: 54px;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__feature-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.offers__feature-text {
    text-align:left;
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-left: 10px;  
}

.offers__text {
    text-align:left;
    font-size: 14px;     
    position: relative;
    display: inline-block;
    margin-top: 24px;
}

.offers__button {
    display: inline-block;
    width: 168px;
    height: 55px;
    background-color: #FFFF;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    text-align: center;
    padding: 18px; 
    font-size: 14px;
    text-transform: uppercase;
    color: #8f00ff;
    margin-top: 24px;
}

.offers__button:hover {
    color: #FFFF;
    background-color: #8F00FF;
}

.offers {
    margin-bottom: 125px;
}

.news__item {
    width: 550px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__item {
    margin-right: 25px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px 25px;
    min-height: 130px;
}

.title {
    font-weight: bold;
    font-size: 36px;
}

.news__date {
    display: block;
    padding-bottom: 12px;
    font-size: 14px;
}

.news__title {
    font-size: 24px;
    font-weight: bold;
}

.news__text {
    font-size: 16px;
    margin-top: 2px;
}

.news__list {
    margin-bottom: 50px;
}

.pagination {
    text-align: center;
}

.pagination__info, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
}

.pagination__item--active, .pagination__item:hover {
    background: #8F00FF;
    line-height: 32px;
    cursor: pointer;
}

.pagination {
    margin-bottom: 132px;
}

.about-us {
    position: relative;
    margin-bottom: 100px;
}

.about-us__content {
    position: absolute;
    left: 345px;
    bottom: -45px;
    width: 785px;
    height: 455px;
    min-height: 0px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    padding: 70px 207px 70px 80px;
}

.about-us__title {
    font-weight: bold;
    font-size: 36px;
}

.about-us__text {
    margin-top: 37px;
}

.about-us__button {
    margin-top: 43px;
}

.about-us__img {
    border-radius: 5px;
}

.footer {
    height: 150px;
    position: relative;
    padding-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* .footer::before {
    display: block;
    content: "";
    height: 1px;
    background: white;
    opacity: 0.1;
    width: 100%;
} */

.footer__logo {
    width: 168px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: middle;
}

.footer__contacts {
    display: inline-block;
    margin-left: 75px;
    font-size: 26px;
    vertical-align: middle;
    
}

.footer__contacts__info {
    color: #9A9A9A;
    font-size: 11px;
    display: block;
}

.social-icons__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social-icons__image {
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.social-icons:last-child {
    margin-right: 0;
}