.welcome {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.welcome__background {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;
  background: url("../../images/welcome.jpg") center top no-repeat;
}

.central {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: bounce 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  70% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-5px);
  }

  85% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
  
}

.central__logo {
    margin-bottom: 40px;  
}

.welcome__container {
    position: relative;
    margin-top: 40px;
    
}


