.inner-section {
    background: #F4F5F5;
    padding-top: 62px;
    padding-bottom: 96px;
}


.inner-section__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    padding-bottom: 70px;
}

.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: 1px solid #8F00FF;
    background: #FFFFFF;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input  {
    color: #666666;
}

.form__input--active {
    color: #1A1B1E;
}

.form__input--textarea {
    height: 235px;
    color: #1A1B1E;
}

.form__input--textarea:focus {
    border: 1px solid #8F00FF;
}

.form__input--textarea:focus-visible {
    border: 1px solid #8F00FF;
}

.form__controls-title {
    color: #1A1B1E;
    font-size: 18px;
    line-height: 25px;
    width: 35%;
    margin-right: 59px;
}

.form__controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 9px;
    margin-right: 10px;
}

.controls__item:nth-child(5n) {
    margin-right: 0;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.controls__tag:nth-child(1n) {
    padding-left: 15px;
    padding-right: 15px;
}

.btn--color--grey {
    width: 168px;
    height: 55px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 19px;
    background: #8E8E8E;
    border-radius: 5px;
}

.btn--color--grey:hover {
    background: #2B2B2B;
    transition: color .3s, background-color .3s;
}

.btn--color--purple {
    width: 168px;
    height: 55px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 19px;
    background: #8F00FF;
    border-radius: 5px; 
}

.btn--color--purple:hover {
    background: #741BBA;
    transition: color .3s, background-color .3s;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    margin-right: 17px;
}

.form__btn:last-child {
    margin-right: 0;
}
