.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F2F2F2;
    border-radius: 5px;
}

.reviews-background {
    background: #F4F5F5;
    padding-bottom: 85px;
}

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 45px;
    background: #F4F5F5;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #1A1B1E;
    
}

.review__user:hover {
    color: #2E77A4;
    text-decoration-line: underline;
    transition: color .3s;
}

.review__user::after {
    content: url("../../images/vk-blue.png");
    height: 30px;
    margin-bottom: 11px;
    margin-left: 8px;
}

.review__tags {
    display: flex;
    align-items: flex-start;

}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 10px 20px;
    background: #E7E7E7;
    border-radius: 35px;
}

.controls__tag:hover {
    background: greenyellow;
    transition: color .3s;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-weight: bold;
    font-size: 30px;
    color: #1A1B1E;
    margin-bottom: 15px;
}

.review__content-text {
    margin-bottom: 50px;
    color: #818181;
    line-height: 27px;
}

.review__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: 600;
}

.reviews__item {
    margin-bottom: 20px;
}