.separator__container {
    background: #17191C url("../../images/separator.png") right -72px bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator__content {
    max-width: 40%;
}

.separator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

