.hello {
    margin-bottom: 193px;
    margin-top: 145px;
    display: flex;
    flex-direction: column;
}
.hello__title {
    width: 637px;
    font-size: 60px;
    margin-bottom: 21px;
    font-weight: bold;
    line-height: 64px;
}

.hello__text {  
    font-size: 21px;
    margin-bottom: 76px;
}