.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-left: 26px;
}

.pagination__info, .pagination__list {
   display: flex;
   align-items: center;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__item {
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
}

.pagination__item--active, .pagination__item:hover {
    background: #8F00FF;
    line-height: 32px;
    cursor: pointer;
    color: #FFFFFF;
}