.page-content {
    background: #F2F2F2;
    color: #303030;
    padding-top: 100px;
}

.games__content{
    flex: 1;
    margin-left: 56px;
}

.games__img-elem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.games__img {
    position: relative;
    width: 460px;
    height: 333px;
    background: black;
    border-radius: 5px;
}

.games__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 29px;
    margin-top: 12px;
    display: flex;
    align-items: flex-end;
}

.games__text {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    line-height: 27px;

}

.games__item {
    display: flex;
    margin-bottom: 50px;
}

.games__button {
    display: inline-block;
    width: 168px;
    height: 55px;
    background-color: #F2F2F2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 18px; 
    font-size: 14px;
    color: #8F00FF;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #8F00FF;
    margin-bottom: 17px;
}

.games__button:hover {
    display: inline-block;
    width: 168px;
    height: 55px;
    background-color: #8F00FF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 18px; 
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #8F00FF;
    margin-bottom: 17px;
    transition: color .3s, background-color .3s;
}