.partners__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    line-height: 65px;
    padding-bottom: 97px;
    padding-top: 80px;
    padding-bottom: 11px;
}

.partners__img {
    cursor: pointer;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__item {
    width: 260px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    mix-blend-mode: luminosity;
}

.partners__item:hover {
    mix-blend-mode: initial;
}

.partners__item:nth-child(1) {
    justify-content: left; 
}

.partners__item:nth-child(3) {
    margin-right: 50px; 
}

.partners__item:nth-child(5) {
    justify-content: left; 
}

.partners__item:nth-child(6) {
    margin-right: 100px; 
}

.partners__item:nth-child(7) {
    justify-content: left; 
}

.partners {
    background: #F4F5F5;
    height: 537px;
}